.App {
  height: 100vh;
  width: 100vw;
  display: flex;
  background-color: white;
  justify-content: space-around;
}

.left-half {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  flex: 1;
}

.right-half {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30%;
  width: 100%;
  min-height: 150px;
  /* border: 1px solid black; */
}

.player-controller {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 100%;
  /* border: 1px solid black; */
  
}

.project-title {
  font-size: 2em;
  margin: 0;
  text-decoration: underline;
  font-weight: bold;
}

.language-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  width: 100%;
  overflow: scroll;
  /* border: 1px solid black; */
  
}

.language-indicator {
  font-size: 1.3em;
  text-decoration: underline;
  font-weight: bold;
  margin: 0;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
}

.language-button {
  padding: 5%;
  color: white;
  font-size: 1.2em;
  font-weight: bold;
  border-radius: 100px;
  outline: none !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;  
  background-color: steelblue;
  box-shadow: 5px 5px 5px rgba(0,0,0,0.3);
  text-shadow: 5px 5px 5px rgba(0,0,0,0.3);
  cursor: pointer;
}

.note-control-container {
  display: flex;
  flex-direction: column;
  overflow: scroll;
  /* border: 1px solid black; */
  
}

.microphone {
  height: 35px;
  width: 35px;
  cursor: pointer;
}

.transcript-container {
  /* border-right: 1px solid black; */
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid black; */
  
  /* font-size: 2em; */
  
}

.transcript-contents {
  height: 90%;
  width: 90%;
  font-size: 1.5em;
  border-radius: 10px;
  background-color: #f1f1f1;
  box-shadow: 6px 6px 5px rgba(0,0,0,0.5);
  text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
  padding: 18px;
  /* border: 1px solid black; */
  outline: none;
}

.search-container {
  width: 100%;
  height: 1.5em;
  /* border: 1px solid black; */
  border-bottom: 1px solid black;
  display: flex;
  align-items: center;
  padding: 6px;
}

.search-results {
  /* border: 1px solid black; */
  flex: 4;
  width: 100%;
}

.search-item {
  padding: 10px;
  border-radius: 10px;
  /* border: 1px solid black; */
  margin: 10px;
  font-size: 1.5em;
  background-color: #f1f1f1;
  box-shadow: 3px 3px 3px rgba(0,0,0,0.3);
  text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
}

.word-match {
  color: red !important;
}
