.splash-container {
  height: 100vh;
  width: 100vw;
  background-color: #f1f1f1;
  /* background-color: white; */
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;  
}

.icon {
  height: 300px;
  width: 300px;
}

.splash-container h1 {
  font-size: 6em;
  font-weight: bold;
  text-shadow: 5px 5px 5px rgba(0,0,0,0.3)
}

.splash-btn-container {
  width: 70%;
  display: flex;
  justify-content: space-around;
}

.splash-button {
  width: 35%;
  padding: 25px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;  
  background-color: steelblue;
  font-size: 2em;
  font-weight: bold;
  border-radius: 100px;
  outline: none !important;
  color: white;
  box-shadow: 5px 5px 5px rgba(0,0,0,0.3);
  text-shadow: 5px 5px 5px rgba(0,0,0,0.3)
}
